@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'custom';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/font.ttf') format('truetype');
}

@layer base {
  td {
    @apply px-5 py-4;
  }
  th {
    @apply px-5 py-4 font-normal uppercase text-sm;
  }
  body {
    @apply text-gray-700 antialiased;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
